    * {
        box-sizing: border-box;
        margin: 0;
    }

body {
    background-color: #d3d3d359;
}

header, main {
    background-color: white;
}

 #title {
     display: inline;
     font-size: 45px;
     vertical-align: top;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     margin-top: 50px;
 }

main {
    width: 1000px;
    margin-left: 200px;
    margin-top: 50px;
}

.common-properties {
    text-align: center;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100px;
    height: 30px;
    display: inline-block;
    padding: 5px;
}

#add-task {
    background-color: deepskyblue;
    color: white;
    margin-right: 5px;
}

#add-section {
    background-color: black;
    color: white;
}

main>header {
    margin-left: 40px;
    padding-top: 20px;
}
