* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    background-color: white;
}

 #title {
     display: inline;
     font-size: 45px;
     vertical-align: top;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

 /* margin left and right è uguale quindi usiamo la percentuale */
body {
    background-color: lightgray;
}

.container {
    width: 1000px;
    height: 1500px;
    background-color: white;
    border-radius: 5px;
    margin: 40px 15%;
}

.space-topleft {
    margin-left: 70px;
    padding-top: 20px;
}

